﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IMMOBILIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData.ContainsKey("MessageKey") && TempData["MessageKey"] != "")
        {
            <script>
                        var tipoMensaje = '@TempData["MessageCssClass"]'
                        switch (tipoMensaje) {
                            case 'Exito':
                                Swal.fire({
                                      icon: 'success',
                                      title: 'Genial',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Informacion':
                                Swal.fire({
                                      icon: 'info',
                                      title: 'Información',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Error':
                                Swal.fire({
                                      icon: 'error',
                                      title: 'Error',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Advertencia':
                                Swal.fire({
                                      icon: 'warning',
                                      title: 'advertencia',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            default:
                        }
            </script>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
