﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMMOBILIS</title>
    @Styles.Render("~/Content/Intranet/css")
    @Scripts.Render("~/bundles/kendo")

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Intranet/Index" class="site_title"><i class="fa fa-home"></i> <span>IMMOBILIS</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido</span>
                            <h2>@(((WebImmobilis.DAL.Security.CustomPrincipal)User).Name)</h2>
                            <span> @(((WebImmobilis.DAL.Security.CustomPrincipal)User).NombreTipoUsuario)</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <!--Mostramos el menú por tipo de usuario-->
                            @if (((WebImmobilis.DAL.Security.CustomPrincipal)User).TipoUsuarioId == 1)
                            {
                                <!--Menu de administrador-->
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-home"></i> Administrar <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/Usuario/Index">Usuarios</a></li>
                                            <li>
                                                <a>Propiedades<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/Propiedad/Index">Departamentos</a></li>
                                                    <li><a href="index2.html">Casas</a></li>
                                                    <li><a href="index3.html">Bodegas</a></li>
                                                    <li><a href="index3.html">Estacionamientos</a></li>
                                                    <li><a href="index3.html">Oficinas</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!--Menu de administrador-->
                            }
                            else if (((WebImmobilis.DAL.Security.CustomPrincipal)User).TipoUsuarioId == 4)
                            {
                                <!--Menu de Ejecutivo-->
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-home"></i> Administrar Reserva<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/Reserva/Departamento">Departamento</a></li>
                                            <li><a href="/Reserva/Departamento">Casas</a></li>
                                            <li><a href="/Reserva/Departamento">Bodega</a></li>
                                            <li><a href="/Reserva/Departamento">Estacionamiento</a></li>
                                            <li><a href="/Reserva/Departamento">Oficiona</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!--Menu de Ejecutivo-->
                            }
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="">@(((WebImmobilis.DAL.Security.CustomPrincipal)User).Name)
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Home/Index"> Ir Inicio</a>
                                    <a class="dropdown-item" href="/Login/CerrarSesion"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @if (TempData.ContainsKey("MessageKey") && TempData["MessageKey"] != "")
                {
                    <script>
                        var tipoMensaje = '@TempData["MessageCssClass"]'
                        switch (tipoMensaje) {
                            case 'Exito':
                                Swal.fire({
                                      icon: 'success',
                                      title: 'Genial',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Informacion':
                                Swal.fire({
                                      icon: 'info',
                                      title: 'Información',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Error':
                                Swal.fire({
                                      icon: 'error',
                                      title: 'Error',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            case 'Advertencia':
                                Swal.fire({
                                      icon: 'warning',
                                      title: 'advertencia',
                                      text: '@TempData["MessageKey"]',
                                      showConfirmButton: false,
                                      timer: 3000
                                    })
                                break;
                            default:
                        }
                    </script>
                }

                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    IMMOBILIS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/intranet/js")
    @Scripts.Render("~/bundles/codebase")
</body>
</html>
