﻿@model WebImmobilis.Models.ViewModel.Usuario.UsuarioViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMMOBILIS | MI PERFIL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <style>
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: darkgreen !important;
        }
    </style>
</head>
<body>

    @Html.Partial("/Views/Home/Partial/_Navegador.cshtml")

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg'); height:100px!important;" data-stellar-background-ratio="0.5">
        <div class="overlay" style="height:100px !important;"></div>
    </section>

    <section class="ftco-section contact-section" style="padding: 3em 0;">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis información</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Reservas</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Mis Propiedades</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                @using (Html.BeginForm("Actualizar", "Cliente", FormMethod.Post, new { @id = "form1", @class = "bg-light p-1 contact-form", enctype = "multipart/form-data", @data_form = "validate" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
                                    @Html.HiddenFor(c => c.TipoUsuarioId)
                                    @Html.HiddenFor(c => c.NombreVista)
                                    @Html.HiddenFor(c => c.Clave)
                                    @Html.HiddenFor(c => c.UsuarioId)

                                    <div class="form-group">
                                        <div class="row">
                                            @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control form-number form-rut col-sm-10", @placeholder = "Rut", @maxlength = "8", @style = "margin-left:14px;" } })
                                            <span style="font-size:28px; font-weight:bold;">-</span>
                                            @Html.EditorFor(model => model.RutDv, new { htmlAttributes = new { @class = "form-control form-dv form-dvrut col-sm-1", @placeholder = "Rut", @maxlength = "1", @readonly = "true" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control form-number", @placeholder = "Celular", @maxlength = "9" } })
                                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Actualizar mis datos" class="btn btn-success py-3 px-5" />
                                    </div>
                                }
                            </div>
                        </div>
                        <!--Propiedades en reserva-->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row">
                                @if (Model.ListaDepartamentosEnReserva != null)
                                {
                                    foreach (var item in Model.ListaDepartamentosEnReserva)
                                    {
                                        <div class="col-md-4">
                                            <div class="property-wrap ftco-animate">
                                                <a href="#" class="img" style="background-image: url(/Content/Home/images/work-1.jpg);">
                                                    <div class="rent-sale">
                                                        <span class="sale" style="background:green">Reservado</span>
                                                    </div>
                                                    <p class="price"><span class="orig-price">@item.PrecioUF UF</span></p>
                                                </a>
                                                <div class="text">
                                                    <ul class="property_list">
                                                        <li><span class="flaticon-bed"></span>@item.cantidadDormitorios</li>
                                                        <li><span class="flaticon-bathtub"></span>@item.cantidadBanios</li>
                                                        <li><span class="flaticon-floor-plan"></span>@item.MetrosCuadrados m2</li>
                                                    </ul>
                                                    <h3><a href="#">@item.NombreEdificio</a></h3>
                                                    <span class="location">@item.Direccion</span>
                                                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                                                        <span class="fa fa-link"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!--Propiedades en reserva-->
                        <!--Propiedades Compradas-->
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="row">
                                @if (Model.ListaDepartamentosComprados != null)
                                {
                                    foreach (var item in Model.ListaDepartamentosComprados)
                                    {
                                        <div class="col-md-4">
                                            <div class="property-wrap ftco-animate">
                                                <a href="#" class="img" style="background-image: url(/Content/Home/images/work-1.jpg);">
                                                    <div class="rent-sale">
                                                        <span class="sale" style="background:green">Comprados</span>
                                                    </div>
                                                    <p class="price"><span class="orig-price">@item.PrecioUF UF</span></p>
                                                </a>
                                                <div class="text">
                                                    <ul class="property_list">
                                                        <li><span class="flaticon-bed"></span>@item.cantidadDormitorios</li>
                                                        <li><span class="flaticon-bathtub"></span>@item.cantidadBanios</li>
                                                        <li><span class="flaticon-floor-plan"></span>@item.MetrosCuadrados m2</li>
                                                    </ul>
                                                    <h3><a href="#">@item.NombreEdificio</a></h3>
                                                    <span class="location">@item.Direccion</span>
                                                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                                                        <span class="fa fa-link"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!--Propiedades Compradas-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/Content/Home/js/jquery.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Home/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/Home/js/google-map.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
    @Scripts.Render("~/bundles/codebase")
</body>
</html>
