﻿@model WebImmobilis.Models.ViewModel.Usuario.UsuarioViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Crear Usuario</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                @using (Html.BeginForm("Crear", "Usuario", FormMethod.Post, new { @id = "form1", @class = "form-horizontal form-label-left", enctype = "multipart/form-data", @data_form = "validate" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-dark text-center alert alert-dismissible", @style = "background-color:moccasin;" })

                    @Html.HiddenFor(c => c.NombreVista)
                    @Html.HiddenFor(c => c.Clave)

                    <div class="item form-group">
                        @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            <div class="row">
                                @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control form-number form-rut col-sm-10", @placeholder = "Rut", @maxlength = "8", @style = "margin-left:14px;" } })
                                <span style="font-size:28px; font-weight:bold;">-</span>
                                @Html.EditorFor(model => model.RutDv, new { htmlAttributes = new { @class = "form-control form-dv form-dvrut col-sm-1", @placeholder = "Rut", @maxlength = "1", @readonly = "true", @value = "0" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" item form-group">
                        @Html.LabelFor(model => model.ApellidoPaterno, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" item form-group">
                        @Html.LabelFor(model => model.ApellidoMaterno, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group row">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="item form-group">
                @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                <div class="col-md-6 col-sm-6 ">
                    @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "100"  } })
                    @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                </div>
            </div>*@

                    <div class="item form-group">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control form-number", @maxlength = "9" } })
                            @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.TipoUsuarioId, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.DropDownListFor(model => model.TipoUsuarioId, new SelectList(Model.TipoUsuarioList, "TipoUsuarioId", "Nombre"), "Seleccione Tipo de Usuario", new { @class = "form-control", @value = "0" })
                            @Html.ValidationMessageFor(model => model.TipoUsuarioId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-6">
                            <a class="btn btn-secondary" href="/Usuario/Index">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>