﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<style>
    .k-button.k-button-icontext.k-grid-Editar {
        background-color: darkcyan !important;
        border-radius: 30px !important;
        color: #fff !important;
    }
</style>

<h2>Usuarios del sistema</h2>
<div>
    @(Html.Kendo().Grid<WebImmobilis.Models.ViewModel.Usuario.UsuarioViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Command(command => command.Custom("Editar").Click("IrAEditar")).Title("Editar").Width(120).HtmlAttributes(new { style = "text-align:center;" });
        columns.Bound(p => p.Rut).Title("Rut");
        columns.Bound(p => p.Nombres).Title("Nombre");
        columns.Bound(p => p.ApellidoPaterno).Title("Apellido Paterno").Width(150);
        columns.Bound(p => p.ApellidoMaterno).Title("Apellido Materno").Width(150);
        columns.Bound(p => p.Email).Title("Email");
        columns.Bound(p => p.Celular).Title("Celular");
        columns.Bound(p => p.TipoUsuario.Nombre).Title("Perfil").Filterable(false);
    })
    .ToolBar(tools =>
        {
        tools.Template(@<text>
                        <button class="k-button k-button-icontext k-grid-excel" type="button" style="background-color:darkgreen; color:white;"><span class="k-icon k-i-excel"></span>Exportar Excel</button>
                        <a href="/Usuario/Crear" class="btn btn-outline-dark float-right">Agregar Usuario <i class="fa fa-user-plus"></i></a>
        </text>);
})
.HtmlAttributes(new { style = "height:550px;" })
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(5))
.Sortable()
.Scrollable()
.Filterable(filterable => filterable
 .Extra(false)
 .Messages(messages => messages
     .Clear("Limpiar")
     .And("Y")
     .Cancel("Cancelar")
     .CheckAll("Todos")
     .Filter("Filtrar")
     .Info("Información")
     .IsFalse("Falso")
     .IsTrue("Verdadero")
     .Or("O")
     .Value("Valor")
     .SelectValue("Seleccionado")
     .Operator("Operador")
 )
 .Operators(operators => operators.ForString(str => str
 .Clear()
 .Contains("Contiene")
 )
 )
)
.Excel(excel => excel
.FileName("Listado_Usuarios.xlsx")
.AllPages(true)
.Filterable(false)
)
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(20)
.Read(read => read.Action("ListarUsuario", "Usuario"))
)
    )
</div>

<script>
    $(".k-grid-filter").append('<i class="fa fa-filter"></i>');

    function IrAEditar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = '@Url.Action("Editar", "Usuario")';
        url += '?usuarioId=' + dataItem.UsuarioId +'';
        window.open(url, "_self");
    }
</script>