﻿@model WebImmobilis.Models.ViewModel.Reservar.ReservaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMMOBILIS | DETALLE PROPIEDAD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
</head>
<body>
    @Html.Partial("/Views/Home/Partial/_Navegador.cshtml")

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/Content/Home/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate pb-0 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/Propiedades/Index">Propiedades <i class="fa fa-chevron-right"></i></a></span> <span>Properties Single <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-3 bread">Detalle de la propiedad</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-property-details">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="property-details">
                        <div class="img" style="background-image: url(/Content/Home/images/work-1.jpg);">
                            <a href="https://vimeo.com/45830194" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
                                <span class="fa fa-play"></span>
                            </a>
                        </div>
                        <div class="text">
                            <span class="subheading">@Model.Propiedad.Region.NombreRegion - @Model.Propiedad.Comuna.NombreComuna</span>
                            <h2>@Model.Propiedad.Departamento.NombreEdificio</h2>
                            <button type="button" id="btnReservar" class="btn btn-success">Reservar Propiedad</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pills">
                    <div class="bd-example bd-example-tabs">
                        <div class="d-flex">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check"><span class="fa fa-check-circle"></span>Cantidad de dormitorios: @Model.Propiedad.Departamento.CantidadDormitorios</li>
                                            <li class="check"><span class="fa fa-check-circle"></span>Cantidad de Baños: @Model.Propiedad.Departamento.CantidadBanios</li>
                                            <li class="check"><span class="fa fa-check-circle"></span>M2: @Model.Propiedad.Departamento.MetrosCuadrados</li>
                                            <li class="check"><span class="fa fa-check-circle"></span>Valor UF: @Model.Propiedad.PrecioUf</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("ReservarPropiedad", "Propiedades", FormMethod.Post, new { @id = "form1", @class = "form-horizontal", enctype = "multipart/form-data", @data_form = "validate" }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reservar propiedad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
                        @Html.HiddenFor(c => c.PropiedadId)

                        <div class="form-group">
                            <label for="NombreBanco">Banco</label>
                            @Html.DropDownListFor(model => model.NombreBanco, new SelectList(Model.BancoList, "NombreBanco", "NombreBanco"), "Seleccione un Banco", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Rut">Rut cliente</label>
                            <div class="row">
                                @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control form-number form-rut col-sm-8", @placeholder = "11111111", @maxlength = "8", @style = "margin-left:14px;" } })
                                <span style="font-size:28px; font-weight:bold;">-</span>
                                @Html.EditorFor(model => model.RutDv, new { htmlAttributes = new { @class = "form-control form-dv form-dvrut col-sm-3", @placeholder = "", @maxlength = "1", @readonly = "true", @value = "0" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="Clave">Clave banco</label>
                            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control form-number", @placeholder = "****", @maxlength = "4", @type="Password" } })
                            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="MontoPie">Porcentaje del pie</label>
                            @Html.EditorFor(model => model.MontoPie, new { htmlAttributes = new { @class = "form-control form-number", @placeholder = "20 %", @maxlength = "9" } })
                            @Html.ValidationMessageFor(model => model.MontoPie, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnReservar">Reservar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/Home/js/jquery.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Home/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/Home/js/google-map.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
    @Scripts.Render("~/bundles/codebase")

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">

    <script>
        $("#btnReservar").click(function () {
            $.ajax({
                url: '/Home/UsuarioAutenticado',
                type: 'POST',
                success: function (respuesta) {
                    if (respuesta) {
                        $("#exampleModal").modal("show");
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Debes inicia sesión',
                            html: '<a href="/Login/Index">Ingresar</a>',
                            footer: '<a href="/Usuario/CrearCliente">Registrate aquí</a>',
                            showConfirmButton: false,
                        })
                    }
                },
                error: function () {
                    console.log("No se ha podido obtener la información");
                }
            });
        });

        //function ReservarPropiedad() {
        //    $.ajax({
        //        url: '/Propiedades/ReservarPropiedad',
        //        type: 'POST',
        //        success: function (respuesta) {
        //            Swal.fire({
        //                icon: 'success',
        //                title: 'Propiedad Reservada',
        //                Text: 'Para ver el detalle, ingrese a Mi Perfil'
        //            })
        //        },
        //        error: function () {
        //            console.log("No se ha podido obtener la información");
        //        }
        //    });
        //}

    </script>

</body>
</html>