﻿@model WebImmobilis.Models.ViewModel.Login.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IMMOBILIS | Login </title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-warning" })
                    <hr />
                    @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post, new { @id = "loginform", @class = "form-horizontal form-material", enctype = "multipart/form-data", @data_form = "validate" }))
                    {
                        @Html.HiddenFor(m => m.Recuerdame)
                        @Html.HiddenFor(m => m.AutenticadoOK)

                        <h1>Ingreso Immobilis</h1>
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nombre Usuario", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Clave, new { @class = "form-control", @placeholder = "Contraseña", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "" })
                        </div>
                        <div>
                            @*<a href="@Url.Action("RecuperarClave", "Login")" id="link-recuperar-clave" class="hide text-muted"><i class="fa fa-lock m-r-5"></i> Olvidó su contraseña?</a>*@
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Ingresar</button>
                            <a href="/Home/Index">Volver al inicio</a>
                        </div>
                    }
                </section>
            </div>

        </div>
    </div>
</body>
</html>
