﻿<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">IMMOBILIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/Home/Index" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="/Propiedades/Index" class="nav-link">Propiedades</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">Nosotros</a></li>
                @if (ViewBag.User != null)
                {
                    <li class="dropdown nav-item">
                        <a aria-haspopup="true" href="#" class="dropdown-toggle nav-link" aria-expanded="false">@ViewBag.User.Name</a>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                            @if (ViewBag.User.TipoUsuarioId != 5)
                            {
                                <a href="/Intranet/Index" tabindex="0" role="menuitem" class="dropdown-item">Mi Portal</a>
                            }
                            <a href="/Cliente/MiPerfil" tabindex="0" role="menuitem" class="dropdown-item">Mi Perfil</a>
                            <a href="/Login/CerrarSesion" tabindex="0" role="menuitem" class="dropdown-item">Cerrar Sesion</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a href="/Usuario/CrearCliente" class="nav-link">Registrarme</a></li>
                    <li class="nav-item"><a href="/Login/Index" class="nav-link">Ingresar</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

@if (TempData.ContainsKey("MessageKey") && TempData["MessageKey"] != "")
{
    <script>
        var tipoMensaje = '@TempData["MessageCssClass"]'
        switch (tipoMensaje) {
            case 'Exito':
                Swal.fire({
                        icon: 'success',
                        title: 'Genial',
                        text: '@TempData["MessageKey"]',
                        showConfirmButton: false,
                        timer: 5000
                    })
                break;
            case 'Informacion':
                Swal.fire({
                        icon: 'info',
                        title: 'Información',
                        text: '@TempData["MessageKey"]',
                        showConfirmButton: false,
                        timer: 5000
                    })
                break;
            case 'Error':
                Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '@TempData["MessageKey"]',
                        showConfirmButton: false,
                        timer: 5000
                    })
                break;
            case 'Advertencia':
                Swal.fire({
                        icon: 'warning',
                        title: 'advertencia',
                        text: '@TempData["MessageKey"]',
                        showConfirmButton: false,
                        timer: 5000
                    })
                break;
            default:
        }
    </script>
}
