﻿@model WebImmobilis.Models.ViewModel.Propiedad.DepartamentoViewModel
@{
    ViewBag.Title = "EditarDepartamento";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Editar Departamento</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                @using (Html.BeginForm("EditarDepartamento", "Propiedad", FormMethod.Post, new { @id = "form1", @class = "form-horizontal form-label-left", enctype = "multipart/form-data", @data_form = "validate" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-dark text-center alert alert-dismissible", @style = "background-color:moccasin;" })

                    @Html.HiddenFor(c => c.TipoPropiedadId)
                    @Html.HiddenFor(c => c.DepartamentoId)
                    @Html.HiddenFor(c => c.PropiedadId)
                    @Html.Hidden("codigoComuna", Model.ComunaId)

                    <div class="item form-group">
                        @Html.LabelFor(model => model.NombreEdificio, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.NombreEdificio, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.NombreEdificio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.cantidadDormitorios, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.cantidadDormitorios, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.cantidadDormitorios, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.cantidadBanios, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.cantidadBanios, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.cantidadBanios, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.MetrosCuadrados, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.MetrosCuadrados, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.MetrosCuadrados, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.DropDownListFor(model => model.RegionId, new SelectList(Model.RegionList, "RegionId", "NombreRegion"), "Seleccione una Región", new { @class = "form-control", @value = "0" })
                            @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.ComunaId, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6">
                            @Html.DropDownList("ComunaId", new List<SelectListItem>(), "--Seleccionar comuna--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ComunaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(model => model.PrecioUF, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                        <div class="col-md-6 col-sm-6 ">
                            @Html.EditorFor(model => model.PrecioUF, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                            @Html.ValidationMessageFor(model => model.PrecioUF, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-6">
                            <a class="btn btn-secondary" href="/Propiedad/Index">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {        
        //Cuando cargar el DOM, obtenemos la comuna seleccionada
        ObtenerComunaPorRegion();
        var codigoComuna = parseInt($("#codigoComuna").val())
        setTimeout(() => $("#ComunaId").val(codigoComuna), 500);
    });

    $("#RegionId").change(function () {
        ObtenerComunaPorRegion();
    });

    function ObtenerComunaPorRegion() {
        $.get("/Comuna/ObtenerComunaRegion", { regionId: $("#RegionId").val() }, function (data) {
            $("#ComunaId").empty();
            $("#ComunaId").append("<option value> -- Seleccionar Comuna de " + $("#RegionId option:selected").text() + " --</option>")
            $.each(data, function (index, row) {
                $("#ComunaId").append("<option value='" + row.ComunaId + "'>" + row.NombreComuna + "</option>")
            });
        });
    }


</script>
