﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIntranet.cshtml";
}

<style>
    .k-button.k-button-icontext.k-grid-Editar {
        background-color: darkcyan !important;
        border-radius: 30px !important;
        color: #fff !important;
    }
</style>

<h1>Administrador de propiedades</h1>
<div>
    @(Html.Kendo().Grid<WebImmobilis.Models.ViewModel.Propiedad.PropiedadViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Command(command => command.Custom("Editar").Click("IrAEditar")).Title("Editar").Width(120).HtmlAttributes(new { style = "text-align:center;" });
        columns.Bound(p => p.PropiedadId).Title("propiedad id").Hidden();
        columns.Bound(p => p.Direccion).Title("Dirección");
        columns.Bound(p => p.EstadoPropiedad.Descripcion).ClientTemplate("# if (EstadoPropiedad.EstadoPropiedadId == 1) { #" +
                                            "<span class='badge badge-warning'> #= EstadoPropiedad.Descripcion #</span>" +
                                            "# } else if (EstadoPropiedad.EstadoPropiedadId == 2) { #" +
                                            "<span class='badge badge-danger'> #= EstadoPropiedad.Descripcion #</span>" +
                                            "# } else if (EstadoPropiedad.EstadoPropiedadId == 3) { #" +
                                            "<span class='badge badge-info'> #= EstadoPropiedad.Descripcion #</span>" +
                                            "# } else if (EstadoPropiedad.EstadoPropiedadId == 4) { #" +
                                            "<span class='badge badge-success'> #= EstadoPropiedad.Descripcion #</span>" +
                                            "# } #").Width(180).Title("Estado").HtmlAttributes(new { style = "text-transform:uppercase" });
        columns.Bound(p => p.TipoPropiedad.Descripcion).Title("Estado Propiedad");
        columns.Bound(p => p.Departamento.NombreEdificio).Title("Nombre Edificio");
        columns.Bound(p => p.Departamento.CantidadBanios).Title("Baños");
        columns.Bound(p => p.Departamento.CantidadDormitorios).Title("Dormitorios");
        columns.Bound(p => p.Departamento.MetrosCuadrados).Title("M2");
        columns.Bound(p => p.Region.NombreRegion).Title("Región");
        columns.Bound(p => p.Comuna.NombreComuna).Title("Comuna");
    })
    .ToolBar(tools =>
    {
    tools.Template(@<text>
                        <button class="k-button k-button-icontext k-grid-excel" type="button" style="background-color:darkgreen; color:white;"><span class="k-icon k-i-excel"></span>Exportar Excel</button>
                        <a href="/Propiedad/CrearDepartamento" class="btn btn-outline-dark float-right">Agregar Departamento <i class="fa fa-building"></i></a>
        </text>);
})
.HtmlAttributes(new { style = "height:550px;" })
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(5))
.Sortable()
.Scrollable()
.Filterable(filterable => filterable
 .Extra(false)
 .Messages(messages => messages
     .Clear("Limpiar")
     .And("Y")
     .Cancel("Cancelar")
     .CheckAll("Todos")
     .Filter("Filtrar")
     .Info("Información")
     .IsFalse("Falso")
     .IsTrue("Verdadero")
     .Or("O")
     .Value("Valor")
     .SelectValue("Seleccionado")
     .Operator("Operador")
 )
 .Operators(operators => operators.ForString(str => str
 .Clear()
 .Contains("Contiene")
 )
 )
)
.Excel(excel => excel
.FileName("Listado_Propiedades.xlsx")
.AllPages(true)
.Filterable(false)
)
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(20)
.Read(read => read.Action("ListarPropiedad", "Propiedad"))
)
    )
</div>

<script>
    $(".k-grid-filter").append('<i class="fa fa-filter"></i>');

    function IrAEditar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = '@Url.Action("EditarDepartamento", "Propiedad")';
        url += '?propiedadId=' + dataItem.PropiedadId +'';
        window.open(url, "_self");
    }
</script>

